*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
}
.header{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: blue;
}
.buttom{
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: green;
    display: flex;
    align-self: end;
}
.left{
    width: 10%;
    height: 80vh;
    background-color:brown;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.center{
    width: 77%;
    height: 75vh;
    background-color:rgb(11, 108, 59);
    display: flex;
    justify-content: center;
    align-self: center;
    border:5px solid rgb(0, 78, 0);
    border-radius: 20px;
}
.right{
    width: 10%;
    height: 80vh;
    background-color:chocolate;
    display: flex;
    align-self: center;
}
.ball{
    width: 30px;
    height: 30px;
    background-color:rgb(34, 34, 34);
    border-radius: 50%;
    display: flex;
}
.ball-div{
    width: 77%;
    position: absolute;
    display: flex;
    justify-content: space-between;

}
.ball2-div{
    width: 77%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: end;
    
}
.balls-table-container{
    position: absolute;
    width: 2.5%;
    height: 5vh;
    margin-left: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.ball0{
    position: absolute;
    margin-right: 20%;
    transition: 1s;
    background-color: rgb(230, 230, 230);
}
.ball1{
    position: absolute;
    margin-right: 3320%;
    transition: 2s;
    transition-delay: 1s;
    background-color:rgb(56, 56, 149);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball2{
    position: absolute;
    margin-right: 3485%;
    margin-bottom: 92%;
    transition: 3s;
    transition-delay: 1s;
    background-color:red;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball3{
    position: absolute;
    margin-right: 3485%;
    margin-top: 92%;
    transition: 3s;
    transition-delay: 1s;
    background-color:rgb(40, 134, 40);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball4{
    position: absolute;
    margin-right: 3650%;
    margin-bottom: 180%;
    transition: 2s;
    transition-delay: 1s;
    background-color:rgb(157, 157, 46);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball5{
    position: absolute;
    margin-right: 3650%;
    transition: 2s;
    transition-delay: 1s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball6{
    position: absolute;
    margin-right: 3650%;
    margin-top: 180%;
    transition: 2s;
    transition-delay: 1s;
    background-color:orangered;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball7{
    position: absolute;
    margin-right: 3810%;
    margin-bottom: 270%;
    transition: 1s;
    transition-delay: 1s;
    background-color:rgb(95, 31, 154);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball8{
    position: absolute;
    margin-right: 3810%;
    margin-bottom: 92%;
    transition: 1s;
    transition-delay: 1s;
    background-color:rgb(68, 19, 19);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball9{
    position: absolute;
    margin-right: 3810%;
    margin-top: 92%;
    transition: 1s;
    transition-delay: 1s;
    background-color: purple;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ball10{
    position: absolute;
    margin-right: 3810%;
    margin-top: 270%;
    transition: 1s;
    transition-delay: 1s;
    background-color:rgb(77, 59, 35);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.balls-table-container:hover .ball0{
    margin-right: 3140%;
}
.balls-table-container:hover .ball1{
    margin-top: 1345%;
    margin-left: 4595%;
}
.balls-table-container:hover .ball2{
    margin-bottom: 1345%;
    margin-left: 4760%;
}
.balls-table-container:hover .ball3{
    margin-top: 1345%;
    margin-left: 1765%;
}
.balls-table-container:hover .ball4{
    margin-bottom: 1345%;
    margin-left: 1930%;
}
.balls-table-container:hover .ball5{
    margin-bottom: 1345%;
    margin-left: 1930%;
}
.balls-table-container:hover .ball6{
    margin-top: 1345%;
    margin-left: 1930%;
}
.balls-table-container:hover .ball7{
    margin-bottom: 1345%;
    margin-right: 4715%;
}
.balls-table-container:hover .ball8{
    margin-top: 1435%;
    margin-right: 4715%;
}
.balls-table-container:hover .ball9{
    margin-bottom: 1435%;
    margin-right: 4715%;
}
.balls-table-container:hover .ball10{
    margin-top: 1345%;
    margin-right: 4715%;
}

.two{
    margin-top: 15px;
}
.three{
    margin-top: 30px;
}
.four{
    margin-top: 45px;
}
.line{
    width: 3px;
    height: 75vh;
    margin-left: 55%;
    background-color:rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stick-container{
    width: 70%;
    height: 70vh;
    background-color:rgb(194, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stick-container2{
    width: 55%;
    height: 65vh;
    background-color: rgb(60, 32, 32);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stick{
    width: 10px;
    height: 60vh;
    background-color:tan;
    transition: 0.3s;
    border-radius: 40% 40% 0 0;
}
.stick-container2:hover .stick{
    height: 65vh;
    margin-left: 30px;
    margin-bottom: 20px;
}
.num-border{
    background-color: aliceblue;
    width: 17px;
    border-radius: 50%;
}